body {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr;
    place-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(72, 156, 193);
    position: relative;
  }

  .container {
    position: absolute;
    width: auto;
    height: auto;
    border-radius:4px ;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px .5fr .5fr .2fr;
    row-gap: 10px;
    padding: 10px;
  }

  
.title{
    /* BLUR */
    text-shadow:1px 1px 4px rgba(79, 77, 77, 0.6); ;
}
    
  .item1 {
    display: flex;
    justify-self: center;
    align-items: center;
  }
  /* ///////////////////////////////////////////// */
  .todo-input {
    border: 1px solid rgb(89, 163, 200);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
  }
  .todo-input::placeholder {
    color: rgb(178, 176, 176);
    
  }
  /* //////////////////////// */

  .item2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
  }
  .input-div{
    display: grid;
    grid-template-columns:auto minmax(30px,50px);
    width: 500px;
  }
  .addBtn{
    color: white;
    background-color:  rgb(89, 163, 200);
    border: none;
    margin-left: 4px;
    transition: transform 0.5s, box-shadow 0.3s; ;
  }
  .addBtn p{
    font-size:15px;
  }
.addBtn:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.addBtn:active{
 box-shadow: 3px 3px 5px rgba(79, 77, 77, 0.6);
}
  /*////////////////////////////////////////////  */
  .item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
 .todo-list-div{
   /* background-color: #e4f0f8; */
   border-top: 1px solid rgb(223, 223, 228);
   border-bottom: 1px solid rgb(221, 221, 223);
   border-left: none;
   border-right: none;
   width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 35px;
  
 }

 input[type=checkbox] {
    accent-color: white;
  }


 .whiteback{
    background-color: rgb(249,253,255);
 }


 .p-div{
    font-family: arial;
    font-size: 12px;
    color: rgb(60, 154, 213);
    background-color: white;
    width: 400px;
 }
 .p-div p{
    color: rgb(76, 159, 211);
 }
 .line-through {
  text-decoration: line-through;
}

.edited-text{
  border: none;
  background-color: white;
  border-radius: 2px;

}

.edited-text:focus{
  border: 1px solid white;

  outline: none;
}
 .notwhite{
  font-family: arial;
  color: rgb(60, 154, 213);
  border: none;
  width: 400px;
 }

 /* //////////////////////// */

 .buttons-div{
   padding-right: 2px;
   display: flex;
 }
 .buttons-div {
  object-fit: cover;
 }
 .del-img{
  height: 20px;
 }

 .pen-button,.del-button{
   
    background-color: transparent;
    border: none;
    padding-left: 2px;
    padding-right: 2px;
 }

 .pen-button:hover,.del-button:hover{
    cursor: pointer;
 }

 .pen-button:active,.del-button:active{
    transform: scale(1.1);
 }
 
  /* ///////////////////////////////////////////////// */
  .item4{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
   


.fBtn{
    font-size: 18px;
    font-weight: bold;
    flex-basis: 180px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: linear-gradient(to right, rgb(151,228,74) 59%, white 50%);
    border: 1px solid rgb(223, 220, 220);
    
}


.sBtn-div{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(73,154,191);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 180px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 3px;
  transition:  box-shadow 0.5s; 
 
}

.sBtn{
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: none; 
    opacity: 0.7;
}

 .sBtn-div:hover, .sBtn:hover{
  cursor: pointer;
} 
.sBtn-div:active{
    box-shadow: 3px 3px 5px rgba(79, 77, 77, 0.6);
}


.footer .del-img{
   
    object-fit: cover;
    
}

  /* //////////////////////////////////////// */